    files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDETCCAfkCFDgcGzQO6uLXntdTcIuWS5Y+FRZOMA0GCSqGSIb3DQEBCwUAMEUx
      CzAJBgNVBAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVQQKDBhJbnRl
      cm5ldCBXaWRnaXRzIFB0eSBMdGQwHhcNMjIwNDI4MTkxMzUyWhcNMjMwNDI4MTkx
      MzUyWjBFMQswCQYDVQQGEwJBVTETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UE
      CgwYSW50ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMIIBIjANBgkqhkiG9w0BAQEFAAOC
      AQ8AMIIBCgKCAQEAuDXyK43s0CD3j6y/EKKZfTkDkYOJqOnYA0ClNB7GuICgpHf4
      XZBQBO/ZDcAzJs9pcaWPj8y9HQVsCI1A6S6cULY6auc/5Es/6bjsw9FspRParWsP
      sK95nerubReCjTJ1ZXI/Xg//19HHBgQQoe79d2vzA3QQiwRIjXgWsGf58Gvima9J
      zeZQuLKHBmnXSj0Htjk27lwKkKaJ7UX7kdJNOfGmaOhHDEhgFErHcEtvq/cxv7S4
      SZKFceZUxYqUj6YQyDBhc44wjjLR603I9FMBLQW3p55wR4NvwpjFNlDwngnc+JQU
      t9AvZ1kZpB/SQBz0vBZ0ezws18nPTImPTuR2bQIDAQABMA0GCSqGSIb3DQEBCwUA
      A4IBAQA0TE1y94YSSWWj2rMao6g/9cDV0nR6TCzoCh14Zl0cbfuKAuKYby2O9G3C
      TYoY4/akWAsuPt15MMvOGwxz214YEINCf8yknIYUT/knIt6axdLbWfhkNz53Eb34
      W74hTpC5ukHlY94vOjhwQntkJmjJPxBG/c3o7CHkTZHsNnrwXe1efTWJYm2cP0yh
      bJOiz1bvoeIQeKiDQ3D9GzpRioI2dNed6RoexeaGTd4x5/j5FFlur5VurHR3+BnD
      seZsoyILN8gotBxtVCoOtNvpMx+xN+E5I2VJYE2FZpAYC1zWIL0PytUZTdgkihw6
      P0WhowKrz74r/7S6HDn3g7Bs+BXD
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEAuDXyK43s0CD3j6y/EKKZfTkDkYOJqOnYA0ClNB7GuICgpHf4
      XZBQBO/ZDcAzJs9pcaWPj8y9HQVsCI1A6S6cULY6auc/5Es/6bjsw9FspRParWsP
      sK95nerubReCjTJ1ZXI/Xg//19HHBgQQoe79d2vzA3QQiwRIjXgWsGf58Gvima9J
      zeZQuLKHBmnXSj0Htjk27lwKkKaJ7UX7kdJNOfGmaOhHDEhgFErHcEtvq/cxv7S4
      SZKFceZUxYqUj6YQyDBhc44wjjLR603I9FMBLQW3p55wR4NvwpjFNlDwngnc+JQU
      t9AvZ1kZpB/SQBz0vBZ0ezws18nPTImPTuR2bQIDAQABAoIBAQCuI8E1T0upTSD6
      n3FXxn6XFEi9TL3cAoQEPx5tcRKm5GH4WLlfqccbg6mLCEDS1Yx2tO5MIF4+ixuf
      0fik9z0qR7pdyRJrPH/E8N5SFy4/t88n1WfVvWyYzrhqRKlT1XmJV0F0KGfRnCwr
      EbivfH/8Xv4yK4xf/sKfigDY7tImZhuEMjlfSOpz9ayVIywl0I7AJQjDPoeEFM4v
      4CCbsStM7MYu+1JDQllFzJe6io4z8Xtq3W/iKwrrMxHPxs0GXkCcaOwgnD5XWYmz
      osG0KtqRlMyMQ1Sq3oFKAa2MIdFGZwc2j66U2oWYs+yZZPP96qYf9AjAxjUB/OjV
      6UhpLEJ5AoGBAOTDvreC6DNCQ3GEhPb1CiRzRmHNUxkLGuyPb0GHepZGD2pfWQef
      auFsjkDFM/zBrnSRFzIPiQFh2H4PuEgJMGG37Zd4+X14xamLyPQMrzuJ32KiDLLc
      OSUELgp+dfyouf8WOaLEriu1NeOsOXKpkA80z9bN1ZTmJ/ClvghHQxdXAoGBAM4k
      Syxyb7t6jIkN1StEua7F0CCfDv96NJ/q2XXNvgE4/RatCSGY7WjN19uR6u006T+0
      kwztLSNpdMgYfDUdvz9nOhnhBsQs/PVpRukoFOXGZBCsJrTbSCBHv1C0s3Paokdl
      FtS823pIMUmhtuXrQ5WxnNd1D0y7ChPta5yjiBnbAoGAC4shFYuCggum8ZR5TSji
      QSKb+5Vrywi3bBZ0y761Xd3dK0XybSMLNqLOrtAEpo1zayhjHkCQbkRsszfB2ci0
      60lnsMwG8uDkQIDwO/hj40I6xnRc5a2dKJQEar0k4QH2mLubXu5Dx6rWNE3dfD64
      KTxF/JXYYDIY89i5NRu7c/MCgYA1XLXNAq6jxHx+ugL1mWvLr09KMoKKZdMblorG
      cQT/ggYaCZ70gIbse2SmZSaAUxMSN6ddUERAB3uAlL4KbfHk8s7ahiLfQ5oT2TXP
      A14tgObEXhwC80S/fnMq7CwMEIuzmZqIZX8XL3r6yY70A6vSI1ErgRT90ukv8WTK
      /pYrwwKBgDlp2wx6eOwr2M6zVRqYl+B0buelrehpPdonOj5KqxlSnHZL5JdTDO1Z
      U5MGR38ciC6q1eEc7ab4cropXjds3+d9RV2j8MCXpsBMIkai++kRZINdh8x9LkHX
      0rpjWo51Psay5DiX4VGOw35YWd/dA1kZSPjgjYWXHqDYRe3NoTHO
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart

